@import "bootstrap";
@import "bootstrap-sprockets";

h1, h2, h3, h4, h5, h6 {
  line-height: 1
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center
}

p {
  font-size: 1.1em;
  line-height: 1.7em
}

.box {
  margin-bottom: 20px;
}

.box .box-header {
  background-color: #22a7f3;
  color: #fff;
  padding: 10px;
  text-align: center
}

.box .box-body {
  background-color: #fcfcfc;
  padding: 20px;
  min-height: 180px;
}

.box .box-body .price {
  color: #3084a6;
  font-weight: bold
}

.box .box-footter {
  background-color: #8a8e8f;
  padding: 10px;
  text-align: center
}

.footer {
  margin: 70px;
  text-align: center
}

h1 {
  padding-top: 50px;
}
